<%-include('../layouts/adminHeader.ejs')%>
<%-include('../layouts/adminSidebar.ejs')%>
<div class="page-wrapper">
    <br>
    <div class="container" style="display: flex; justify-content: right;">
        <button type="button" class="btn btn-success" data-toggle="modal" 
        data-target="#add-modal">Add Category</button>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Categories</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Action</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if(Array.isArray(categories) && categories.length>0) { %>
                                        <% categories.forEach(function(category, index) { %>
                                            <tr>
                                                <td><%= index + 1 %></td>
                                                <td><%= category.name %></td>
                                                
                                                <td>
                                                    <a href="#" class="edit-category" data-categoryid="<%= category._id %>">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                </td>
                                                
                                                <td>
                                                    <a href="#" class="btn-status-toggle" data-categoryid="<%= category._id %>">
                                                        <% if (category.is_listed) { %>
                                                            <span class="badge badge-success">Listed</span>
                                                        <% } else { %>
                                                            <span class="badge badge-danger">Unlisted</span>
                                                        <% } %>
                                                    </a>
                                                </td>
                                            </tr>
                                        <% }); %>
                                    <% } else { %>
                                        <tr>
                                            <td colspan="3">No Categories Available</td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- ADD CATEGORY modal content -->
                <div id="add-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">

                    <div class="modal-body">
                        <div class="text-center mt-2 mb-4">
                            <a href="index.html" class="text-success">
                                <span><img class="mr-2" src="../assets/images/logo-icon.png"
                                        alt="" height="18"><img
                                        src="../assets/images/logo-text.png" alt=""
                                        height="18"></span>
                            </a>
                        </div>

                        

                        <form class="pl-3 pr-3" id="categoryForm">

                            <div class="form-group">
                                <label for="username">Category Name</label>
                                <div class="alert alert-danger mt-2" id="addCategoryError" style="display: none;"></div>
                                <input class="form-control" type="text" id="categoryName" placeholder="Enter Category Name">
                                <div class="invalid-feedback" id="categoryNameError">
                                    Category Name should not contain blank spaces.
                                </div>
                            
                                    
                            </div>

                            <div class="form-group text-center">
                                <button class="btn btn-primary" type="button" id="submitBtn">Add</button>
                            </div>

                        </form>

                    </div>

            </div> 
        </div> 
    </div> 

    <!-- Edit modal content -->
    <div id="edit-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center mt-2 mb-4">
                        <a href="index.html" class="text-success">
                            <span><img class="mr-2" src="../assets/images/logo-icon.png"
                                    alt="" height="18"><img
                                    src="../assets/images/logo-text.png" alt=""
                                    height="18"></span>
                        </a>
                    </div>

                    <form class="pl-3 pr-3" id="editCategoryForm">
                        <div class="form-group">
                            <label for="editCategoryName">Edit Category Name</label>
                            <div class="alert alert-danger mt-2" id="editFlashMessage" style="display: none;"></div>
                            <input class="form-control" type="text" id="editCategoryName" required placeholder="Enter New Category Name">
                            <div class="invalid-feedback" id="editCategoryNameError">Category Name should not contain blank
                                spaces.
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-primary" type="button" id="editSubmitBtn">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div> 
        </div> 
    </div> 
</div>

<!-- Confirmation modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to change the status<span id="categoryNameSpan"></span>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" id="confirmUnlistBtn">Confirm</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
        $('#submitBtn').click(function () {
        let categoryName = $('#categoryName').val();

        if (!categoryName.trim()) {
            $('#categoryNameError').text('Category Name cannot be empty');
            $('#categoryNameError').show();
            return;
        }

        else if (categoryName.length > 20) {
            $('#categoryNameError').text('Category name should not contain more than 20 letters.');
            $('#categoryNameError').show();
            return;
        }

        else if (/^([a-zA-Z])\1+$/.test(categoryName)) {
            $('#categoryNameError').text('All letters should not be the same.');
            $('#categoryNameError').show();
            return;
        } else {
            $('#categoryNameError').hide();
        }

        let formData = {
            categoryName: categoryName
        };

        $.ajax({
            type: 'POST',
            url: '/admin/save-category',
            data: JSON.stringify(formData),
            contentType: 'application/JSON',
            success: function (response) {
                if (response.success) {
                    console.log('Data saved successfully:', response);
                    $('#add-modal').modal('hide');
                    location.reload();
                } else {
                    if (response.message) {
                        $('#addCategoryError').text(response.message).show();
                    } else {
                        console.error('Unknown error occurred:', response);
                    }
                }
            },
            error: function (error) {
                console.error('Error saving data:', error);
            }
        });
    });
    
    $('#categoryName').on('input', function () {
            $('#categoryNameError').hide();
        });

    function containsBlankSpaces(value) {
        return /\s/.test(value);
    }
</script>

<!-- EDIT CATEGORY -->
<script>
    $(document).ready(function () {
         
        $('.edit-category').on('click', function (e) {
            e.preventDefault();
            
            const categoryId = $(this).data('categoryid');
            openEditModal(categoryId);
        });

        $('#editSubmitBtn').click(function () {
            const categoryId = $('#editCategoryForm').data('categoryid');
            const newCategoryName = $('#editCategoryName').val();
            editCategory(categoryId, newCategoryName);
        });

        $('#editCategoryName').on('input', function () {
            $('#editCategoryNameError').hide();
        });
    });

    function openEditModal(categoryId) {
        $('#editCategoryForm').data('categoryid', categoryId);
        $('#edit-modal').modal('show');
    }

    function editCategory(categoryId, newCategoryName) {
         
        if (containsBlankSpaces(newCategoryName)) {
             
            $('#editCategoryNameError').text('Category name should not contain blank spaces.');
            $('#editCategoryNameError').show();
            return;  
        }

        if (newCategoryName.length > 20) {
            $('#editCategoryNameError').text('Category name should not contain more than 20 letters.');
            $('#editCategoryNameError').show();
            return;
        }

        if (/^([a-zA-Z])\1+$/.test(newCategoryName)) {
            $('#editCategoryNameError').text('All letters should not be the same.');
            $('#editCategoryNameError').show();
            return;
        }

        $('#editCategoryNameError').hide();
        $('#editFlashMessage').hide();

        $.ajax({
            type: 'POST',
            url: `/admin/edit-category/${categoryId}`,
            data: { id: categoryId, name: newCategoryName },
            success: function (response) {
                console.log("response: ",response);
                if (response.success) {
                    console.log('Category updated successfully:', response);
                    $('#edit-modal').modal('hide');
                    location.reload();
                } else {
                    console.error('Error updating category:', response.message);
                    $('#editFlashMessage').text(response.message).show();
                }
            },
            error: function (error) {
                console.error('Error updating category:', error);
                $('#editFlashMessage').removeClass('alert-success').addClass('alert-danger').text('Error updating category. Please try again later.').show();
            }
        });
    }


    function containsBlankSpaces(value) {
        return /\s/.test(value);
    }
</script>

<!-- LISTING AND UNLISTING -->

<script>
    document.addEventListener('DOMContentLoaded', function () {
    const statusButtons = document.querySelectorAll('.btn-status-toggle');

    statusButtons.forEach(button => {
        button.addEventListener('click', function (event) {
            event.preventDefault();

            const categoryId = this.getAttribute('data-categoryid');
            const categoryName = this.parentElement.previousElementSibling.textContent.trim();

            document.getElementById('categoryNameSpan').textContent = categoryName;

            $('#confirmationModal').modal('show');

            document.getElementById('confirmUnlistBtn').setAttribute('data-categoryid', categoryId);
        });
    });

    document.getElementById('confirmUnlistBtn').addEventListener('click', function () {
        const categoryId = this.getAttribute('data-categoryid');
        toggleCategoryStatus(categoryId);
    });

    function toggleCategoryStatus(categoryId) {
        fetch(`/admin/toggleCategoryStatus/${categoryId}`, {
            method: 'POST',
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                updateUI(data.category);
                $('#confirmationModal').modal('hide');
            } else {
                console.error('Error toggling category status:', data.message);
            }
        })
        .catch(error => {
            console.error('Error toggling category status:', error);
        });
    }

    function updateUI(category) {
        const badge = document.querySelector(`.btn-status-toggle[data-categoryid="${category._id}"] .badge`);
        if (category.is_listed) {
            badge.textContent = 'Listed';
            badge.classList.remove('badge-danger');
            badge.classList.add('badge-success');
        } else {
            badge.textContent = 'Unlisted';
            badge.classList.remove('badge-success');
            badge.classList.add('badge-danger');
        }
    }
});
</script>

<%-include('../layouts/adminFooter.ejs')%>