<%-include('../layouts/header.ejs')%>
<%-include('../layouts/navbar.ejs')%>

<style>
.error-message-container {
    display: none; /* Initially hide the error message container */
    border: 1px solid red; /* Light red border */
    background-color: rgba(255, 166, 166, 0.8); /* Slightly transparent background */
    padding: 10px;
    text-align: center; /* Center-align the error message */
    margin-bottom: 15px;
    border-radius: 8px; /* Rounded borders */
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
</style>


<main class="main">
    <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('assets/images/backgrounds/login-bg.jpg')">
        <div class="container">
            <div class="form-box">
                <div class="form-tab">
                    <div class="text-center">
                        <img src="/assets/images/furnit-logo.png" alt="FurnIt Logo" width="55px" height="55px" style="display: block; margin: 0 auto;">
                    </div>
                    <ul class="nav nav-pills nav-fill" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="register-tab-2" data-toggle="tab" href="#register-2" role="tab" aria-controls="register-2" aria-selected="true">Login</a>
                        </li>
                    </ul>
                    <br>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="signin-2" role="tabpanel" aria-labelledby="signin-tab-2">
                            <div class="error-message-container" id="error-message-container">
                                <p class="error-message" id="error-message"><%= locals.message %></p>
                            </div>
                            <form action="/loginsubmit" method="POST" onsubmit="return validateForm()">
                                <!-- <p style="color: red;"><%= locals.message %></p> -->
                                <% if (messages.error) { %>
                                    <div class="alert alert-danger">
                                        <%= messages.error %>
                                    </div>
                                <%}%>
                                <div class="form-group">
                                    <label for="singin-email-2">Email Address *</label>
                                    <input type="email" class="form-control" id="singin-email-2" name="email">
                                    <span id="email-error" class="error-message"></span> <!-- Error message for email -->
                                </div><!-- End .form-group -->
                                <br>
                                <div class="form-group">
                                    <label for="singin-password-2">Password *</label>
                                    <input type="password" class="form-control" id="singin-password-2" name="password">
                                    <span id="password-error" class="error-message"></span> <!-- Error message for password -->
                                </div><!-- End .form-group -->
                                <br>
                                <div class="form-footer">
                                    <button type="submit" class="btn btn-outline-primary-2">
                                        <span>LOG IN</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </button>
                                    
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="signin-remember-2">
                                    </div><!-- End .custom-checkbox -->
                                
                                    <a href="/forgotpassword" class="forgot-link">Forgot Your Password?</a>
                                </div><!-- End .form-footer -->
                            </form>
                            <p>New here?<a href="/register" class="forgot-link">Register</a></p>
                        </div><!-- .End .tab-pane -->
                        </div><!-- .End .tab-pane -->
                    </div><!-- End .tab-content -->
                </div><!-- End .form-tab -->
            </div><!-- End .form-box -->
        </div><!-- End .container -->
    </div><!-- End .login-page section-bg -->
</main><!-- End .main -->


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Check if there's a success message in the URL parameters
        const urlParams = new URLSearchParams(window.location.search);
        const successMessage = urlParams.get('success');

        // Display a SweetAlert Toast message if the success parameter is present
        if (successMessage === 'true') {
            const Toast = Swal.mixin({
                toast: true,
                position: "top-end",
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                customClass: {
                    popup: 'larger-toast' // Define a custom class for larger size
                },
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer);
                    toast.addEventListener('mouseleave', Swal.resumeTimer);
                }
            });

            Toast.fire({
                icon: "success",
                title: "Registration Successful! You can now log in with your credentials."
            });
        }
    });
</script>
<style>
    /* Defining the size of the sweet alert */
    .larger-toast {
        width: 400px;
        font-size: 14px;
    }
</style>

<script>
    function validateForm() {
        var isValid = true;

        // Get the values of email and password fields
        var email = document.getElementById("singin-email-2").value;
        var password = document.getElementById("singin-password-2").value;
        var emailError = document.getElementById("email-error");
        var passwordError = document.getElementById("password-error");

        // Reset any previous error messages and styling
        emailError.textContent = "";
        passwordError.textContent = "";
        emailError.style.color = "";
        passwordError.style.color = "";

        // Check if email is empty
        if (email.trim() === "") {
            emailError.textContent = "Email cannot be blank.";
            emailError.style.color = "red";
            isValid = false;
        } else {
            // Check if email is valid
            if (!validateEmail(email)) {
                emailError.textContent = "Please enter a valid email address.";
                emailError.style.color = "red";
                isValid = false;
            }
        }

        // Check if password is empty
        if (password.trim() === "") {
            passwordError.textContent = "Password cannot be blank.";
            passwordError.style.color = "red";
            isValid = false;
        }

        return isValid; // Return whether the form submission should proceed or not
    }

    // Function to validate email address
    function validateEmail(email) {
        var re = /\S+@\S+\.\S+/;
        return re.test(email);
    }

    function displayErrorMessage(message) {
        var errorMessageContainer = document.getElementById("error-message-container");
        var errorMessage = document.getElementById("error-message");
        
        errorMessage.textContent = message;
        errorMessageContainer.style.display = "block"; // Show the error message container
    }

    function hideErrorMessage() {
        var errorMessageContainer = document.getElementById("error-message-container");
        
        errorMessageContainer.style.display = "none"; // Hide the error message container
    }
</script>

<%-include('../layouts/footbar.ejs')%>

<%-include('../layouts/footer.ejs')%>