<%-include('../layouts/header.ejs')%>
<%-include('../layouts/navbar.ejs')%>

<style>
    body{
        background:#eee;
    }
    .card {
        box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    }
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: 1rem;
    }
    .text-reset {
        --bs-text-opacity: 1;
        color: inherit!important;
    }
    a {
        color: #5465ff;
        text-decoration: none;
    }
</style>

<div class="container-fluid">

    <div class="container">
        <!-- Title -->
        <div class="d-flex justify-content-between align-items-center py-5">
            <h2 class="h5 mb-0"><a href="#" class="text-muted"></a> Order #<%= order.orderId %></h2>
        </div>
    
        <!-- Main content -->
        <div class="row">
            <div class="col-lg-8">
            <!-- Details -->
            <div class="card mb-4">
                <div class="card-body p-5">
                    <div class="mb-0 d-flex justify-content-between">
                        <div>
                            <% var pendingOrder = order.products.some(function(product) { return product.orderStatus === "Pending"; }); %>
                            
                            <% if (pendingOrder) { %>
                                <div class="warning-message" style="background-color: #ffe6e6; color: #990000; padding: 10px; border-radius: 5px;">
                                    <% order.products.forEach(function(product) { %>
                                        <% if (product.orderStatus === "Pending") { %>
                                            <p>The payment for this order has been failed, please <button class="btn-link" type="button" onclick="continuePayment('<%=order.grandTotal %>', '<%= order._id%>', '<%= order.hashedOrderId%>')" id="continuePayment">click here</button> to pay now.</p>
                                        <% } %>
                                    <% }); %>
                                </div>
                            <% } else { %>
                                <span class="me-3">Estimated Delivery By: <strong><span style="color: green;"><%= order.edd.toDateString() %>, 11PM</span></strong></span>
                            <% } %>
                        </div>
                        
                        
                    
                        <div class="d-flex">
                            <!-- <button class="btn btn-link p-0 me-3 d-none d-lg-block btn-icon-text" 
                                onclick="downloadReport()">
                                <i class="bi bi-download"></i> 
                                <span class="text">Download Invoice</span>
                            </button> -->
                            <% if (isProductDelivered) { %>
                                <button class="btn btn-link p-0 me-3 d-none d-lg-block btn-icon-text" onclick="downloadReport()">
                                    <i class="bi bi-download"></i>
                                    <span class="text">Download Invoice</span>
                                </button>
                            <% } %>
                            

                            <!-- <button onclick="downloadReport()" class="btn-warning" >Download Invoice</button> -->

                            <!-- <div class="dropdown">
                                <button class="btn btn-link p-0 text-muted" type="button" data-bs-toggle="dropdown">
                                <i class="bi bi-three-dots-vertical"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="#"><i class="bi bi-pencil"></i> Edit</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-printer"></i> Print</a></li>
                                </ul>
                            </div> -->
                            <div class="container fluid" id="invoice" hidden>
                                <div class="container fluid ">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <img src="/assets/images/furnit-logo.png" alt="Furnit Logo" width="150">
                                        </div>
                                        <div class="col-sm-6 text-right mt-2">
                                            <h1>INVOICE</h1>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="container-fluid mt-1">
                                            <div class="container-fluid mt-1 mb-1">
                                            <h3>BILLED TO:</h3>
                                                
                                                <p>
                                                    <strong><%=order.address.name %></strong><br>
                                                    <%=order.address.housename %><br>
                                                    <%=order.address.street %>, <%=order.address.city %><br>
                                                    Pincode: <%=order.address.pin %><br>
                                                    Mobile: +91-<%=order.address.mobile %>
                                                </p>
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                    
                                    <div class="col-sm-6 text-right">
                                        <div class="container-fluid mt-1">
                                            <p>
                                                <div class="container-fluid mt-1">
                                                    Order ID: <strong>#<%= order.orderId %></strong><br>
                                                    Billing Date: <strong><%= order.date.toDateString() %></strong>
                                                </div>
                                                
                                            </p>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="container-fluid">
                                    <div class="row ">
                                        <div class="col-sm-12 container-fluid">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center"><strong>Item</strong></th>
                                                        <th class="text-center"><strong>Quantity</strong></th>
                                                        <th class="text-center"><strong>Unit Price</strong></th>
                                                        <th class="text-center"><strong>Offer Price</strong></th>
                                                        <th class="text-center"><strong>Total</strong></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% let subtotal = 0; %>
                                                    <% let totalDiscount = 0; %>
                                                    <% order.products.filter(product => product.orderStatus === 'Delivered').forEach((product, index) => { %>
                                                        <% let discountedPrice = product.price - (product.offerDiscount / product.quantity); %>
                                                        <% let itemTotal = discountedPrice * product.quantity; %>
                                                        <% subtotal += itemTotal; %>
                                                        <% totalDiscount += product.offerDiscount; %>
                                                        <tr>
                                                            <td class="text-center"><%= product.name %></td>
                                                            <td class="text-center"><%= product.quantity %></td>
                                                            <td class="text-center">₹ <%= product.price %></td>
                                                            <td class="text-center">₹ <%= discountedPrice %></td>
                                                            <td class="text-center">₹ <%= itemTotal %></td>
                                                        </tr>
                                                    <% }) %>
                                                </tbody>
                                                
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="4"><strong>Subtotal</strong></td>
                                                        <td class="text-center"><strong>₹ <%= subtotal %></strong></td>
                                                    </tr>
                                    
                                                    <% if (order.couponDiscount > 0) { %>
                                                        <% order.products.filter(product => product.orderStatus === 'Delivered').forEach((product, index) => { %>
                                                            <% let discountedPrice = product.price - (product.offerDiscount / product.quantity); %>
                                                            <% let itemTotal = discountedPrice * product.quantity; %>
                                                        
                                                            <tr>
                                                                <td colspan="4"><strong>Coupon Discount</strong></td>
                                                                <td class="text-center"><strong>- ₹ <%= order.couponDiscount %></strong></td>
                                                            </tr>
                                                        <% }) %>
                                        
                                                    <% } %>
                                                    <tr>
                                                        <td colspan="4"><strong>Grand Total</strong></td>
                                                        <td class="text-center"><strong>₹ <%= subtotal - order.couponDiscount %></strong></td>
                                                    </tr>
                                                </tfoot>
                                                
                                            </table>
                                            
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="container-fluid">
                                            <div class="col-sm-6"><br>
                                                <h3>PAYMENT INFORMATION</h3><br>
                                    
                                                    <% if (order.paymentMode === 'cod') { %>
                                                        <p><strong>Payment Method: </strong>Cash On Delivery<br>
                                                    <% } else if (order.paymentMode === 'razorpay') { %>
                                                        <p><strong>Payment Method: </strong>Razor Pay<br>
                                                    <% } else if (order.paymentMode === 'wallet') { %>
                                                        <p><strong>Payment Method: </strong>Wallet<br>
                                                    <% } %>      
                                                    <strong>Payment ID: </strong><%= order.paymentId %></p>
                                            </div>
                                            <div class="col-sm-6 text-right">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            
                                <div class="container-fluid text-center mt-2">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h4>Thank you for shopping with FurnIt!</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                    </div>
                </div>
                <table class="table table-borderless">
                    <tbody>
                        <% order.products.forEach((product, index) => { %>
                            <tr id="product<%= index %>">
                                <td>
                                    <div class="d-flex mb-0">
                                        <div class="flex-shrink-0">
                                            <!-- <img src="<%= product.image %>" alt="" width="35" class="img-fluid"> -->
                                        </div>
                                        <div class="flex-lg-grow-1 ms-3">
                                            <h6 class="small mb-1"><a href="#" class="text-reset"><strong><%= product.name %></strong></a></h6>
                                            <span class="small">Quantity: <%= product.quantity %></span><br>
                                            <span class="small">Price: ₹<%= product.price-(product.offerDiscount/product.quantity) %></span>
                                            <span class="badge rounded-pill text-white 
                                                <% switch (product.orderStatus) { 
                                                    case 'Placed': %>bg-info<% break; 
                                                    case 'Pending': %>bg-primary<% break;
                                                    case 'Cancelled': %>bg-danger<% break; 
                                                    case 'Delivered': %>bg-success<% break; 
                                                    case 'Returned': %>bg-warning<% break; 
                                                    default: %>bg-secondary<% break; 
                                                } %>">
                                                <%= product.orderStatus %>
                                            </span>
                                            <br>
                                            <a href="#" class="cancel-link" 
                                                data-product-id="<%= product._id %>" 
                                                data-index="<%= index %>" 
                                                <% if(product.orderStatus !== 'Placed' && product.orderStatus !== 'Shipped') { %> style="display: none;" <% } %>
                                            >
                                                Cancel Item
                                            </a>
                                            
                                            <a href="#" class="return-link" 
                                                data-product-id="<%= product._id %>" 
                                                data-index="<%= index %>" 
                                                <% if(product.orderStatus !== 'Delivered') { %> style="display: none;" <% } %>
                                                onclick="openReturnModal(this)">
                                                Return Item
                                            </a>

                                        </div>
                                    </div>
                                </td>
                                <td><%= product.color %></td>
                                <td class="text-end">₹<%= product.total %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="2">Subtotal</td>
                        <td class="text-end">₹<%=order.subTotal %></td>
                    </tr>
                    <tr>
                        <td colspan="2">Shipping</td>
                        <td class="text-end">₹00.00</td>
                    </tr>
                    <tr>
                        <td colspan="2">Coupon Discount</td>
                        <td class="text-danger text-end">-₹<%=order.couponDiscount %></td>
                    </tr>
                    <tr class="fw-bold">
                        <td colspan="2">GRAND TOTAL</td>
                        <td class="text-end" id="grandTotal">₹<%=order.grandTotal %></td>
                    </tr>
                    </tfoot>
                </table>
                </div>
            </div>
            
        </div>
        <div class="col-lg-4">
          <!-- Customer Notes -->
          <div class="card mb-4 p-3">
            <div class="card-body ">
                
                <h3 class="h6">Payment Details</h3>
                <% if (order.paymentMode === 'cod') { %>
                    <p><strong>Payment Method: </strong>Cash On Delivery<br>
                <% } else if (order.paymentMode === 'razorpay') { %>
                    <p><strong>Payment Method: </strong>Razor Pay<br>
                <% } else if (order.paymentMode === 'wallet') { %>
                    <p><strong>Payment Method: </strong>Wallet<br>
                <% } %>      
                <strong>Payment ID: </strong><%= order.paymentId %></p>
                  
            </div>
        </div>
          <div class="card mb-4 p-3">
            <!-- Shipping information -->
            <div class="card-body">

              <!-- <h3 class="h6">Shipping Information</h3>
              <strong>FedEx</strong>
              <span><a href="#" class="text-decoration-underline" target="_blank">FF1234567890</a> <i class="bi bi-box-arrow-up-right"></i> </span>
              <hr> -->
              <h3 class="h6">Shipping Address</h3>
              <address>
                <strong><%=order.address.name %></strong><br>
                <%=order.address.housename %><br>
                <%=order.address.street %>, <%=order.address.city %><br>
                Pincode: <%=order.address.pin %><br>
                Mobile: +91-<%=order.address.mobile %>
              </address>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<!--Cancel Confirmation Modal -->
<div class="modal fade" id="cancelConfirmationModal" tabindex="-1" aria-labelledby="cancelConfirmationModalLabel" aria-hidden="true">
    <!-- Modal content -->
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelConfirmationModalLabel">Confirm Cancellation</h5>
            </div>
            <div class="modal-body">
                <!-- Form for cancellation reason -->
                <form id="cancelReasonForm">
                    <div class="container-fluid mb-3 p-4">
                        <label for="reason" class="form-label">Reason for Cancellation:</label>
                        <select class="form-select" id="reason" name="reason" required>
                            <!-- Options for cancellation reasons -->
                            <option value="">Select a reason</option>
                            <option value="Item no longer needed">Item no longer needed</option>
                            <option value="Found a better price elsewhere">Found a better price elsewhere</option>
                            <option value="Changed my mind">Changed my mind</option>
                            <option value="Delivery date is too long">Delivery date is too long</option>
                            <!-- Add more options as needed -->
                        </select>
                    </div>
                    <!-- Buttons -->
                    <div class="d-flex justify-content-end">
                        <!-- Close button -->
                        <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">Close</button>
                        <!-- Confirm Cancellation button -->
                        <button type="submit" class="btn btn-primary">Confirm Cancellation</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="returnModal" tabindex="-1" role="dialog" aria-labelledby="returnModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="returnModalLabel">Select Reason for Return</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Add your form elements for selecting the reason for return here -->
          <form>
            <div class="form-group">
              <label for="returnReason">Reason</label>
              <select class="form-control" id="returnReason">
                <option>Select Reason</option>
                <option>Defective Product</option>
                <option>Wrong Item Received</option>
                <option>Changed Mind</option>
                <!-- Add more options as needed -->
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="submitReturn()">Submit</button>
        </div>
      </div>
    </div>
  </div>
  

<!-- Continue Payment Script -->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    let grandTotal = '<%=order.grandTotal %>';
    console.log("grandTotal: ", grandTotal);


    function continuePayment(amount, orderId, id) {
         try {
            console.log('helond')
            $.ajax({
                type: 'POST',
                url: '/continue-payment',
                contentType: 'application/json',
                data: JSON.stringify({amount, orderId}),
                success: (res) => {
                    console.log("res: ", res);
                    console.log("id: ", id);
                    if(res.success) {
                        console.log('Inside success');
                        console.log("res.order: ", res.order);
                        pendingPayment(res.order, id)
                    }
                }

            })
         } catch (error) {
           
         }
    }

    function pendingPayment(order, id) {
        console.log("Inside razorpay fn");
        console.log("order.amount: ", order.amount);
        let options = {
            "key": '<%= process.env.RAZORPAY_ID_KEY %>',
            "amount": order.amount,
            "currency": "INR",
            "name": "FurnIt",
            "description": "Test Transaction",
            "image": "assets/images/logo.png",
            "order_id": order.id,
            "handler": function(response) {
                verifyPayment(response, order, id);
            },
            "prefill": {
                "name": "Customer Name",
                "email": "customer@example.com",
                "contact": "9999999999"
            },
            "theme": {
                "color": "#CC9966"
            }
        };
        var rzp = new Razorpay(options);
        rzp.open();
    }

    function verifyPayment(payment, order, id) {
        fetch("/continue-verify-payment", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                 payment,
                 order,
                 id
            })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error("Payment verification failed");
            }
            return response.json();
        })
        .then(responseData => {
            if (responseData.success) {
                let hashedOrderId = responseData.hashedOrderId;
                window.location.href = `/orderconfirmation/${hashedOrderId}`;
            } else {
                document.getElementById("warningMessage").textContent = "Payment verification failed. Please try again.";
                document.getElementById("warningMessage").style.color = "red";
                document.getElementById("warningMessage").style.display = "block";
            }
        })
        .catch(error => {
            console.error("Error verifying payment:", error);
            document.getElementById("warningMessage").textContent = "Payment verification failed. Please try again.";
            document.getElementById("warningMessage").style.color = "red";
            document.getElementById("warningMessage").style.display = "block";
        });
    }

   
</script>


  <script>
    function openReturnModal(link) {
      let productId = link.getAttribute('data-product-id');
      let index = link.getAttribute('data-index');
      let modal = document.getElementById('returnModal');
      modal.setAttribute('data-product-id', productId);
      modal.setAttribute('data-index', index);
      $('#returnModal').modal('show');
    }
  
    function submitReturn() {
        let productId = document.getElementById('returnModal').getAttribute('data-product-id');
        let index = document.getElementById('returnModal').getAttribute('data-index');
        let reason = document.getElementById('returnReason').value;
        let orderId = '<%= order._id %>';

        console.log("productId: ", productId);
        console.log("index: ", index);
        console.log("reason: ", reason);
        console.log("orderId :", orderId);

        // Prepare data object
        let data = {
            productId: productId,
            index: index,
            reason: reason,
            orderId: orderId,
        };

        // Fetch request to send data to backend
        fetch(`/orderdetails/${orderId}/products/${productId}/return`, {
            method: 'PUT',
            headers: {
            'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => {
            if (!response.ok) {
            throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            console.log('Data sent successfully:', data);
            // Optionally, perform any additional actions after successful submission
            // Close modal after submission if needed
            $('#returnModal').modal('hide');
            location.reload();
        })
        .catch(error => {
            console.error('There was a problem with your fetch operation:', error);
            // Handle error appropriately, e.g., display an error message to the user
        });
        }
  </script>

<!-- Cancel Item -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Add event listener for cancel link click
        document.querySelectorAll('.cancel-link').forEach(function (link) {
            // Check if the status is not already "Cancelled"
            if (link.getAttribute('data-status') !== 'Cancelled') {
                link.addEventListener('click', function (event) {
                    event.preventDefault();
                    let orderId = '<%= order._id %>';
                    let productId = this.getAttribute('data-product-id');
                    // Show the cancellation modal
                    $('#cancelConfirmationModal').modal('show'); 
                    // Add submit event listener for the cancellation form
                    $('#cancelReasonForm').off('submit').on('submit', function (event) {
                        event.preventDefault();
                        // Get the reason selected from the dropdown
                        let reason = $('#reason').val();
                        // Call the cancelItem function with orderId, productId, and reason
                        cancelItem(orderId, productId, reason);
                    });
                });
            }
        });
        

        // Function to send cancellation request to backend
        function cancelItem(orderId, productId, reason) {
            // Send a PUT request to cancel the item
            fetch(`/orderdetails/${orderId}/products/${productId}/cancel`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ reason: reason }), // Include reason in the request body
            })
            .then(response => {
                if (response.ok) {
                    // Update the UI to reflect the changed status
                    let productRow = document.getElementById(`product${productId}`);
                    location.reload(); // Reload the page
                    productRow.querySelector('.badge').textContent = 'Cancelled';
                    productRow.querySelector('.cancel-link').remove(); // Remove the cancel link
                    
                    $('#cancelConfirmationModal').modal('hide'); // Hide the modal
                    // location.reload(); // Reload the page
                } else {
                    throw new Error('Failed to cancel item');
                }
            })
            .catch(error => console.error('Error:', error));
        }
    });
</script>


<script>
    // let hide = document.getElementById('hide')
    // function downloadReport(){
    //     hideDownloadButton()
    //     window.print()
    //     showDownloadButton()
    // }
    function downloadReport() {
        let printableElement = document.getElementById('invoice');
        let originalContents = document.body.innerHTML;
        document.body.innerHTML = printableElement.innerHTML;
        window.print();
        document.body.innerHTML = originalContents;
    }
    // function  hideDownloadButton(){
    //     hide.style.display = 'none'
    // }
    // function showDownloadButton(){
    //     hide.style.display = 'inline-block'
    // }
</script>




<%-include('../layouts/footbar.ejs')%>
<%-include('../layouts/footer.ejs')%>