<%-include('../layouts/navbar.ejs')%>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>FurnIt</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/furnit-logo.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/furnit-logo.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/furnit-logo.png">
    <link rel="manifest" href="/assets/images/icons/site.html">
    <link rel="mask-icon" href="/assets/images/icons/furnit-logo.png" color="#666666">
    <link rel="shortcut icon" href="/assets/images/icons/furnit-logo.png">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/plugins/magnific-popup/magnific-popup.css">
    
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/plugins/nouislider/nouislider.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

</head>

<body>
    
    <!-- <div class="page-wrapper"> -->
        <main class="main">
            <div class="page-content">
                <div class="container">
                    <div class="product-details-top">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="product-gallery product-gallery-vertical">
                                    <div class="row">
                                        <figure class="product-main-image">
                                            <img id="product-zoom" src="/uploads/<%= product.image[0]%>" data-zoom-image="/uploads/<%= product.image[3]%>" alt="product image">
                                            <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                                <i class="icon-arrows"></i>
                                            </a>
                                        </figure><!-- End .product-main-image -->
                            
                                        <div id="product-zoom-gallery" class="product-image-gallery">
                                            <% product.image.forEach(function(image, index) { %>
                                                <a class="product-gallery-item <%= index === 0 ? 'active' : '' %>" href="#" data-image="/uploads/<%= image %>" data-zoom-image="/uploads/<%= image %>">
                                                    <img src="/uploads/<%= image %>" alt="product image <%= index %>">
                                                </a>
                                            <% }); %>
                                        </div><!-- End .product-image-gallery -->
                                    </div><!-- End .row -->
                                </div><!-- End .product-gallery -->
                            </div><!-- End .col-md-6 -->
                            

                            <div class="col-md-6">
                                <div class="product-details">
                                    <h1 class="product-title"><%=product.name%></h1>
                                    <div class="product-price">
                                        <% if (bestOffer) { %>
                                            <span class="price-block">
                                                <span class="out-price" style="text-decoration: line-through;">₹<%=product.price%></span>
                                                <span class="offer-price">₹<%=product.price - (product.price * (bestOffer.discountPercentage / 100))%></span>
                                                <span class="badge rounded-pill text-white bg-success" style="font-size: 0.5em; padding: 0.2em 0.5em;">
                                                    <%= bestOffer.discountPercentage %>% off
                                                </span>
                                            </span>
                                        <% } else { %>
                                            ₹<%=product.price%>
                                        <% } %>
                                    </div><!-- End .product-price -->
                                    

                                    <div class="stock-col">
                                        <% if (product.quantity !== undefined) { %>
                                            <% const quantity = product.quantity; %>
                                            <% if (quantity === 0) { %>
                                                <strong><span class="out-of-stock" style="color: red;">Out of stock</span></strong>
                                            <% } else if (quantity > 0 && quantity <= 10) { %>
                                                <strong><span class="low-stock" style="color: orange;">Low stock</span></strong>
                                            <% } else { %>
                                                <strong><span class="in-stock" style="color: rgb(88, 198, 88);">In stock</span></strong>
                                            <% } %>
                                        <% } else { %>
                                            <strong><span class="unknown-status">Unknown</span></strong>
                                        <% } %>
                                    </div>

                                    <div class="product-content">
                                        <p><%=product.description%></p>
                                    </div><!-- End .product-content -->

                                    <div class="details-filter-row details-row-size">
                                        <label for="qty">Qty:</label>
                                        <div class="product-details-quantity">
                                            <input type="number" id="qty" class="form-control" value="1" min="1" max="<%=product.quantity%>" step="1" data-decimals="0" oninput="validateQuantity(this)" required>
                                        </div><!-- End .product-details-quantity -->
                                    </div><!-- End .details-filter-row -->

                                    <script>
                                        function validateQuantity(input) {
                                            input.value = input.value.replace(/\D/g, '');

                                            const min = parseInt(input.min) || 1;
                                            const max = parseInt(input.max) || 1000;
                                            const value = parseInt(input.value) || min;
                                            
                                            input.value = Math.min(Math.max(value, min), max);
                                        }
                                    </script>

                                    <div class="product-details-action" id="reloadButton">
                                        <% if (product.quantity > 0) { %>
                                            <% if (!alreadyInCart) { %>
                                                <a href="#" id="addToCartBtn" class="btn-product btn-cart">
                                                    <span>Add to Cart</span>
                                                </a>
                                            <% } else { %>
                                                <a href="/cart" id="viewCartBtn" class="btn-product btn-cart">
                                                    <span>View Cart</span>
                                                </a>
                                            <% } %>
                                        <% } else { %>
                                            <span class="out-of-stock-message text-danger " style="margin-left: 60px;">Out of Stock</span>
                                        <% } %>
                                        
                                        <div class="details-action-wrapper" id="wishlistButton">
                                            <% if (!alreadyInWishlist) { %>
                                                <a href="#" class="btn-product btn-wishlist" title="Wishlist" id="addToWishlistBtn">
                                                    <span>Add to Wishlist</span>
                                                </a>
                                            <% } else { %>
                                                <a href="/wishlist" id="viewWishlistBtn" class="btn-product "><i class="fas fa-heart"></i>
                                                    <span>View Wishlist</span>
                                                </a>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div id="loginMessage"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="product-details-tab">
                        <ul class="nav nav-pills justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab" role="tab" aria-controls="product-desc-tab" aria-selected="true">Description</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
                                <div class="product-desc-content">
                                    <h3>Product Information</h3>

                                    <p><%=product.description%></p>
                                </div><!-- End .product-desc-content -->
                            </div><!-- .End .tab-pane -->
                        </div><!-- End .tab-content -->
                    </div><!-- End .product-details-tab -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <%-include('../layouts/footbar.ejs')%>

    <!-- Login Warning Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="loginModalLabel">Login Required</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            You need to log in to perform this action.
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <a href="/login" class="btn btn-primary">Login</a>
            </div>
        </div>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include SweetAlert library -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const productId = '<%= product._id %>';
        const userId = '<%= userId %>';

        const addToCartBtn = document.getElementById('addToCartBtn');
        const viewCartBtn = document.getElementById('viewCartBtn');
        const addToCartText = document.getElementById('addToCartText');
    
        // Function to add product to cart
        const addToCart = async () => {
            const Quantity = document.getElementById('qty').value;
            const data = {
                productId: productId,
                userId: userId,
                quantity: Quantity
            };
    
            try {
                const response = await fetch('/addtocart', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                });
    
                if (!response.ok) {
                    if (response.status === 400) {
                        const errorData = await response.json();
                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: errorData.error,
                            showConfirmButton: false,
                            timer: 1700,
                        });
                    } else {
                        throw new Error('Failed to add product to cart');
                    }
                } else {
                    const responseData = await response.json();
                    console.log("responseData: ", responseData);
                    Swal.fire({
                        icon: 'success',
                        title: 'Product added to cart!',
                        showConfirmButton: false,
                        timer: 1500
                    }).then(() => {
                        $('#reloadButton').load(`/productdetails/${productId} #reloadButton`);
                    });
                }
            } catch (error) {
                console.error('Error adding to cart:', error);
                Swal.fire({
                    icon: 'error',
                    title: 'Error adding to cart',
                    text: 'An error occurred while adding the product to the cart.'
                });
            }
        };
    
        addToCartBtn.addEventListener('click', addToCart);
    });
    </script>
    

<!-- Add to wishlist -->
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const addToWishlistBtn = document.getElementById('addToWishlistBtn');

        addToWishlistBtn.addEventListener('click', async () => {
            try {
                const productId = '<%= product._id %>';
                const userId = '<%= userId %>';
                const response = await fetch('/addtowishlist', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ productId, userId })
                });

                if (!response.ok) {
                    throw new Error('Failed to add product to wishlist');
                }

                const responseData = await response.json();
                Swal.fire({
                    icon: 'success',
                    title: 'Product added to wishlist!',
                    showConfirmButton: false,
                    timer: 1500
                }).then(() => {
                    $('#wishlistButton').load('/productdetails/<%= product._id %> #wishlistButton');
                });
                
            } catch (error) {
                console.error('Error adding to wishlist:', error);
            }
        });
    });
</script>

<script>
    $(document).ready(function() {
            $("#qty").on("input", function() {
                var inputElement = $(this);
                var currentValue = parseInt(inputElement.val()) || 0;
                var maxValue = parseInt(inputElement.attr("max")) || Infinity;
    
                if (currentValue >= maxValue) {
                    Swal.fire({
                        icon: 'warning',
                        title: 'Maximum Quantity Reached',
                        text: 'You cannot exceed the maximum quantity.',
                        showConfirmButton: false,
                        timer: 3500
                    });
                    inputElement.val(maxValue);
                }
            });
        });
</script>

    <!-- Plugins JS File -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <script src="/assets/js/superfish.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/bootstrap-input-spinner.js"></script>
    <script src="/assets/js/jquery.elevateZoom.min.js"></script>
    <script src="/assets/js/bootstrap-input-spinner.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Main JS File -->
    <script src="/assets/js/main.js"></script>
</body>

</html>