<%-include('../layouts/header.ejs')%>
<%-include('../layouts/navbar.ejs')%>

<style>
    .password-wrapper {
        position: relative;
    }

    .password-icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .password-rules {
        display: none;
        position: absolute;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .password-icon:hover + .password-rules {
        display: block;
    }
</style>

<!-- reset-password.ejs -->
<main class="main bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('assets/images/backgrounds/login-bg3.jpg')">
    <div class="container">
        <div class="form-box">
            <div class="form-tab">
                <ul class="nav nav-pills nav-fill" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="reset-password-tab" data-toggle="tab" href="#reset-password" role="tab" aria-controls="reset-password" aria-selected="true">Reset Password</a>
                    </li>
                </ul>
                <br>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="reset-password" role="tabpanel" aria-labelledby="reset-password-tab">
                        <% if (messages.error) { %>
                            <div class="alert alert-danger">
                                <%= messages.error %>
                            </div>
                        <% } %>
                        
                        <form id="reset-password-form" action="/reset-password-submit" method="post" onsubmit="return validateForm()">
                            <div class="form-group">
                                <label for="new-password">Enter your new password *</label>
                                <div class="password-wrapper">
                                    <input type="password" class="form-control" id="new-password" name="newPassword" required>
                                    <div class="password-icon" onmouseover="showPasswordRules()" onmouseout="hidePasswordRules()">ℹ️</div>
                                </div>
                                <div class="password-rules" id="passwordRules">
                                    Password Rules: <br>
                                    * Must be at least 8 characters long<br>
                                    * Must contain at least:<br>
                                        - One uppercase letter.<br>
                                        - One lowercase letter.<br>
                                        - One number.<br>
                                        - One special character.
                                </div>
                            </div><!-- End .form-group -->
                        
                            <div class="form-group">
                                <label for="confirm-password">Confirm your new password *</label>
                                <input type="password" class="form-control" id="confirm-password" name="confirmPassword" required>
                            </div><!-- End .form-group -->
                        
                            <br>
                            <div class="form-footer">
                                <button type="submit" class="btn btn-outline-primary-2">
                                    <input type="hidden" name="token" value="<%= token %>">
                                    <span>Reset Password</span>
                                    <i class="icon-long-arrow-right"></i>
                                </button>
                                <!-- You can provide a link to go back to the login page if needed -->
                            </div><!-- End .form-footer -->
                        </form>
                        
                        <% if (locals.message) { %>
                            <!-- Display the verification message -->
                            <p style="color: red;"><%= message %></p>
                        <% } %>
                    </div><!-- .End .tab-pane -->
                </div><!-- End .tab-content -->
            </div><!-- End .form-tab -->
        </div><!-- End .form-box -->
    </div><!-- End .container -->
</main><!-- End .main -->

<script>
    function showPasswordRules() {
        document.getElementById("passwordRules").style.display = "block";
    }

    function hidePasswordRules() {
        document.getElementById("passwordRules").style.display = "none";
    }
</script>

<script>
    function validateForm() {
        clearValidationMessages();

        const newPassword = document.getElementById('new-password').value;
        const confirmPassword = document.getElementById('confirm-password').value;

        // Validate password
        if (!validateNoSpaces(newPassword, 'new-password')) {
            displayValidationMessage('Password cannot contain blank spaces.', 'new-password');
            return false;
        }

        // Validate strong password
        if (!validateStrongPassword(newPassword)) {
            displayValidationMessage('Password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, one number, and one special character.', 'new-password');
            return false;
        }

        // Validate confirm password
        if (!validateNoSpaces(confirmPassword, 'confirm-password')) {
            displayValidationMessage('Confirm Password cannot contain blank spaces.', 'confirm-password');
            return false;
        }

        // Validate password and confirm password match
        if (newPassword !== confirmPassword) {
            displayValidationMessage('Password and Confirm Password should be the same.', 'confirm-password');
            return false;
        }

        return true;
    }

    function validateNoSpaces(inputValue, inputId) {
        // Use a regular expression to check for spaces
        const spaceRegex = /\s/;
        return !spaceRegex.test(inputValue);
    }

    function validateStrongPassword(password) {
        // Password must be at least 8 characters long
        if (password.length < 8) {
            return false;
        }

        // Password must contain at least one uppercase letter
        if (!/[A-Z]/.test(password)) {
            return false;
        }

        // Password must contain at least one lowercase letter
        if (!/[a-z]/.test(password)) {
            return false;
        }

        // Password must contain at least one number
        if (!/\d/.test(password)) {
            return false;
        }

        // Password must contain at least one special character
        if (!/[!@#$%^&*()_+{}\[\]:;<>,.?\/\\~-]/.test(password)) {
            return false;
        }

        return true;
    }

    function displayValidationMessage(message, inputId) {
        const inputField = document.getElementById(inputId);
        const messageDiv = document.createElement('div');
        messageDiv.classList.add('text-red', 'small-text');
        messageDiv.textContent = message;

        // Insert the message div below the input field
        inputField.parentNode.insertBefore(messageDiv, inputField.nextSibling);
    
        // Remove the message when the user starts typing in the input field
        inputField.addEventListener('input', function () {
            messageDiv.remove();
        });
    
    }

    function clearValidationMessages() {
        const validationMessages = document.querySelectorAll('.text-red');
        validationMessages.forEach(function (message) {
            message.remove();
        });
    }
</script>

<%-include('../layouts/footbar.ejs')%>

<%-include('../layouts/footer.ejs')%>