<%-include('../layouts/header.ejs')%>
<%-include('../layouts/navbar.ejs')%>

<!-- reset-password.ejs -->
<main class="main bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('assets/images/backgrounds/login-bg3.jpg')">
    <div class="container">
        <div class="form-box">
            <div class="form-tab">
                <ul class="nav nav-pills nav-fill" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="reset-password-tab" data-toggle="tab" href="#reset-password" role="tab" aria-controls="reset-password" aria-selected="true">Reset Password</a>
                    </li>
                </ul>
                <br>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="reset-password" role="tabpanel" aria-labelledby="reset-password-tab">
                        <% if (messages.error) { %>
                            <div class="alert alert-danger">
                                <%= messages.error %>
                            </div>
                        <% } %>
                        
                        <form action="/reset-password-submit" method="post">
                            <div class="form-group">
                                <label for="new-password">Enter your new password *</label>
                                <input type="password" class="form-control" id="new-password" name="newPassword" required>
                            </div><!-- End .form-group -->
                        
                            <div class="form-group">
                                <label for="confirm-password">Confirm your new password *</label>
                                <input type="password" class="form-control" id="confirm-password" name="confirmPassword" required>
                            </div><!-- End .form-group -->
                        
                            <br>
                            <div class="form-footer">
                                <button type="submit" class="btn btn-outline-primary-2">
                                    <input type="hidden" name="token" value="<%= token %>">
                                    <span>Reset Password</span>
                                    <i class="icon-long-arrow-right"></i>
                                </button>
                                <!-- You can provide a link to go back to the login page if needed -->
                            </div><!-- End .form-footer -->
                        </form>
                        
                        <% if (locals.message) { %>
                            <!-- Display the verification message -->
                            <p style="color: red;"><%= message %></p>
                        <% } %>
                    </div><!-- .End .tab-pane -->
                </div><!-- End .tab-content -->
            </div><!-- End .form-tab -->
        </div><!-- End .form-box -->
    </div><!-- End .container -->
</main><!-- End .main -->



<%-include('../layouts/footbar.ejs')%>

<%-include('../layouts/footer.ejs')%>